header {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #000;
}
header .logo {
  margin-right: auto;
}
